.nav {
  display: flex;
  align-items: baseline;

  gap: 40px;
  padding: 5px;
}
.link {
  color: black;
  border: 1px solid #0d0d0e;
  border-radius: 4px;
  background-color: rgb(168, 245, 185);
  padding: 5px;
}

.link:hover,
.link:focus {
  color: rgb(8, 212, 35);
  background-color: rgb(226, 240, 101);
  border: 1px solid rgb(8, 212, 35);
}

.active {
  color: brown;
}
